{% extends 'organizer/base.html' %}

{% block title %}
Органайзер
{% endblock %}

{% block header %}
Time Line 0
{% endblock %}

{% block body %}

<p>{{ implementer.name }}</p>
<p>{{ implementer.surname }}</p>
<p>{{ implementer.phone }}</p>
<p>{{ implementer.service_type }}</p>
<p>{{ implementer.service_objects_list }}</p>
<p>{{ implementer.rating }}</p>
<p>{{ implementer.title }}</p>
<p>{{ implementer.description }}</p>
<p>{{ implementer.mobile }}</p>
<p>{{ implementer.type_of_work }}</p>
<p>{{ implementer.type_of_system }}</p>
<p>{{ implementer.qualification }}</p>

{% endblock %}